.projectContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 330px;
    align-items: center;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
}

.pictureContainer {
/*    width: 300px;
    height: 200px;*/
    overflow: hidden;
}

.pictureContainer:hover {

}

.picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .2s ease-in-out;
}

/*.picture:hover {
    transform: scale(1.2);
}*/

.linkContainer {

}

.descriptionContainer {
    position: absolute;
    top: 40%;
    opacity: 0;
    width: 250px;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    transition: all .5s ease-in-out;
}

.title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
}

.description {
    font: 400 16px/30px 'Arimo', sans-serif;
    color: #ff508e;
    text-align: left;
}

.descriptionContainerVisible {
    z-index: 1;
    transform: translate(0, 90px);
    opacity: 1;
    transition: all .5s ease-in-out;

}

.icon {
    background-color: #fff;
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
}

a{
    width: 100%;
    height: 100%;
}
