.container {
    width: 80%;
    height: 100%;
    border: 1px solid #000;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1px;
}

.subTitle {
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 4px solid #f3f3f3;
}

